.InputWrapper {
    display: flex;
    justify-content: space-between;
}

.placeholder {
    margin-right: 5px;
}

.input {
    outline: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    padding-left: 5px;
    background: transparent;

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        appearance: none;
    }

    &[type="number"] {
        appearance: textfield;

        &:hover,
        &:focus {
            appearance: number-input;
        }
    }

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.7;
}
