.app.light {
    --bg-color: #e7e7ed;
    --inverted-bg-color: #070752;
    --primary-color: #162dda;
    --secondary-color: #2b7cee;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
