.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d81f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    // skeleton

    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d2d2d6;
}
